body {
  background: linear-gradient(90deg, rgb(81, 105, 179) 0%, rgb(95, 146, 176) 49%, rgb(83, 162, 178) 100%);
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  margin: 0 20vw 0 20vw;
}

.challenge-container {
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  align-self: flex-start;
  font-size: 3rem;
  margin: 9vw auto auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h1, h2, h3, p, label, div {
  color: white;
}

h1, h3 {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer, footer>a {
  color: rgb(213, 205, 205);
}


/* loading spinner */
.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

.cssload-speeding-wheel {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 500ms infinite linear;
  -o-animation: cssload-spin 500ms infinite linear;
  -ms-animation: cssload-spin 500ms infinite linear;
  -webkit-animation: cssload-spin 500ms infinite linear;
  -moz-animation: cssload-spin 500ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
